.button-round {
  $root: &;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: toRem(36);
  height: toRem(36);
  padding: 0;
  background-color: rgba(#bcbdbf, 0.3);
  color: $color-white;
  border: 0;
  border-radius: toRem(10);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  appearance: none;
  overflow: hidden;
  outline: none;

  @include defaultTransition(background-color);

  &:disabled,
  &--disabled {
    background-color: rgba(#bcbdbf, 0.2);
  }

  &__icon {
    width: toRem(20);
    height: toRem(20);
  }
}
