html {
  font-family: $ff-base;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

.subtitle {
  @include subtitle;
}

.text-body {
  @include text-body;
}

.text-small {
  @include text-small;
}

.text-tiny {
  @include text-tiny;
}

.text-number {
  @include text-number;
}
