@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-left: toRem(16);
  padding-right: toRem(16);
  width: 100%;
}

@mixin content-container {
  max-width: toRem(672);
  padding-left: toRem(16);
  padding-right: toRem(16);
  width: 100%;
  margin: 0 auto;
}
