@mixin h1 {
  font-size: toRem(32);
  line-height: 1.12;
  font-weight: 700;
}

@mixin h2 {
  font-size: toRem(26);
  line-height: 1.08;
  font-weight: 700;
}

@mixin h3 {
  font-size: toRem(20);
  line-height: 1.4;
  font-weight: 700;
}

@mixin h5 {
  font-size: toRem(16);
  line-height: 1.25;
  font-weight: 700;
}

@mixin h6 {
  font-size: toRem(14);
  line-height: 1.42;
  font-weight: 700;
  letter-spacing: 0.1px;
}

@mixin text-body {
  font-size: toRem(16);
  line-height: 1.5;
  font-weight: 500;
}

@mixin text-small {
  font-size: toRem(14);
  line-height: 1.58;
  font-weight: 500;
}

@mixin text-tiny {
  font-size: toRem(12);
  line-height: 1.33;
  font-weight: 500;
}

@mixin text-number {
  font-size: toRem(40);
  line-height: 1;
  font-weight: 500;
}


